.container {
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.top-border,
.bottom-border {
    width: 100%;
    height: 40px;
    border-top: 1px solid #c76a4a;
    border-left: 1px solid #c76a4a;
    border-right: 1px solid #c76a4a;
    background: #ecc49f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    font-weight: bold;
}

.bottom-border {
    border-top: none;
    border-bottom: 1px solid #c76a4a;
}

.left-border,
.right-border{
    width: 40px;
    height: 640px;
    border-left: 1px solid #c76a4a;
    background: #ecc49f;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.right-border {
    border-left: none;
    border-right: 1px solid #c76a4a;
}

.desk {
    width: 640px;
    height: 640px;
    outline: 1px solid #c76a4a;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.block {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
    z-index: 1;
}

.dark-block {
    background: #c76a4a;
}

.light-block {
    background: #ecc49f;
}

.choosen {
    outline: 2px solid white;
    z-index: 2;
}